<div class="row justify-content-lg-between align-items-lg-center">
  <div class="col-lg-6 mb-9 mb-lg-0">
    <div class="mb-3">
      <h3 class="h1">Campagnes SEA</h3>
      <p class="text-primary font-weight-bold">Investir correctement dans la publicité en Ligne</p>
    </div>
    <p>En 2020, 75% du budget investi sur Google et Facebook Ads est perdu à cause de campagnes mal optimisées. Nous nous imprégnons de votre secteur d’activité, de vos problématiques et de votre marché pour dessiner une stratégie efficace et rentable.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Start Now</a>
    </div>
  </div>

  <div class="col-lg-6 col-xl-5">
  </div>
</div>
<div class="row justify-content-lg-between align-items-lg-center">
  <div class="col-lg-6 col-xl-5">
  </div>

  <div class="col-lg-6 mb-9 mb-lg-0">
    <div class="mb-3">
      <h3 class="h1">Publicité sur les Réseaux Sociaux</h3>
      <p class="text-primary font-weight-bold">Votre message publicitaire au bon endroit au bon moment</p>
    </div>
    <p>Les réseaux sociaux savent tout de chacun de leurs utilisateurs. Un mal pour un bien. Ils offrent la possibilité de cibler des millions de consommateurs et à entrer en contact avec eux grâce aux audiences et à des tests publicitaires ultra-spécifiques.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Start Now</a>
    </div>
  </div>
</div>
<div class="row justify-content-lg-between align-items-lg-center">
  <div class="col-lg-6 mb-9 mb-lg-0">
    <div class="mb-3">
      <h3 class="h1">CRO & UX Design</h3>
      <p class="text-primary font-weight-bold">Optimiser votre site pour devenir rentable</p>
    </div>
    <p>Recevoir du trafic sur un site qui n’est pas optimisé pour convertir est le meilleur moyen pour rater de nombreuses opportunités. Nous analysons votre site web en profondeur pour vous faire remonter les incohérences qui gâchent l’expérience utilisateur et … empêchent les visiteurs de passer à l’action.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Start Now</a>
    </div>
  </div>

  <div class="col-lg-6 col-xl-5">
  </div>
</div>
<div class="row justify-content-lg-between align-items-lg-center">
  <div class="col-lg-6 col-xl-5">
  </div>

  <div class="col-lg-6 mb-9 mb-lg-0">
    <div class="mb-3">
      <h3 class="h1">Référencement Naturel SEO</h3>
      <p class="text-primary font-weight-bold">Atteindre la première position sur Google</p>
    </div>
    <p>Rien ne sert d’avoir le plus beau site de votre secteur si personne ne peut le voir ! Nous vous aidons à ressortir dans les premières positions des moteurs de recherches sur les principaux mots clés de votre activité.</p>
    <div class="mt-4">
      <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Start Now</a>
    </div>
  </div>
</div>
