<div class="jumbotron jumbotron-fluid text-light pt-5 space-3 space-lg-3">
  <div class="container text-center">
    <h1 class="display-4 text-light">Nos Prestations</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>
</div>


<main id="content" role="main">
  <div id="featuresSection" class="container space-2 space-lg-2">
    <%= render "static_pages/services_section" %>
  </div>
  </main>
  <%= render "layouts/work_together" %>
</main>
