<main id="content" role="main">

<div class="position-relative bg-gradient overflow-hidden">
  <div class="container position-relative z-index-2 space-top-3 space-top-md-3 space-bottom-3 space-bottom-md-3">
    <div class="w-md-90 w-xl-90 text-center mx-md-auto">
      <div class="mb-7">
        <p class="lead text-primary mb-5">Agence Web Marketing à Aix-en-Provence et Paris</p>
        <h1 class="display-4 text-white mb-4">Augmentez votre Chiffre d’Affaires Vitesse Grand V grâce au Web</h1>
        <p class="lead text-white mb-4">Nous aidons les PME avec de petites équipes marketing à accélérer  la génération de leads ou de ventes grâce au webmarketing</p>
      </div>
      <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Nous contacter</a>
    </div>
  </div>
</div>
  <!-- Clients Section -->
  <div class="border-bottom">
    <div class="container space-1 space-top-md-0">
      <div class="w-lg-80 mx-lg-auto">
        <div class="row justify-content-center">
          <div class="col-4 col-sm-3 col-md my-2">
            <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/airbnb.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-3 col-md my-2">
            <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/slack.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-3 col-md my-2">
            <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/fitbit.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-3 col-md my-2">
            <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/hubspot.svg" alt="Image Description">
          </div>
          <div class="col-4 col-sm-3 col-md my-2">
            <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/weebly.svg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Clients Section -->


  <!-- Articles Section -->
  <div class="container space-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-5 mb-md-9">
      <h2 class="h1">Renforcez votre équipe marketing</h2>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <img class="avatar-img" src="../../assets/img/160x160/img20.png" alt="Logo">
            </figure>
            <h3>Une stratégie web claire</h3>
            <p class="text-body">Nous challengeons votre stratégie et vous la partageons de manière claire et transparente. Pas d’enfumage à grands coups de termes techniques, c’est promis.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <img class="avatar-img" src="../../assets/img/160x160/img35.png" alt="Logo">
            </figure>
            <h3>Des leads qualifiés</h3>
            <p class="text-body">Nous ne nous contentons pas de capter du trafic. Plus que de simples visiteurs, nous attirons des “prospects chauds” qui seront plus facile à convertir en clients. </p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <img class="avatar-img" src="../../assets/img/160x160/img36.png" alt="Logo">
            </figure>
            <h3>Des campagnes rentables</h3>
            <p class="text-body">Nous restons concentré sur un chiffre clé : le retour sur investissement. Chaque euro investi doit contribuer à diminuer votre coût d’acquisition.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Articles Section -->


  <div id="featuresSection" class="container space-2 space-lg-2">
    <div class="overflow-hidden">
      <div class="container pb-4">
        <!-- Title -->
        <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
          <h2 class="h1">Ce qu’on peut faire pour vous aider</h2>
        </div>
      </div>
    </div>
    <%= render "static_pages/services_section" %>
  </div>
</main>
<%= render "layouts/work_together" %>
