.bg-secondary{
  background-color: #071657 !important;
}

.jumbotron{
  background: linear-gradient(#071657, #0A7296)!important;
}
.bg-navy{
  background-color: #071657 !important;
}
.bg-gradient{
  background: linear-gradient(#071657, #0A7296);
}

hr{
  border: 1px dotted black;
}
